## Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Node
node_modules/

# Python
__pycache__/
*.py[cod]

# macOS
.DS_Store

# logs
*.log

# Build
/bin/
/obj/

# IDE
.vscode/
.idea/

# Archives
*.zip
*.tar.gz
*.rar
